* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: #212121;
}

body {
  background-image: linear-gradient(90deg, #212121, white, #ff5f1f);
}
